####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
Electrum_LTC.egg-info/
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.buildozer/
bin/
/app.fil
.idea

# icons
electrum_ltc/gui/qt/icons_rc.py
electrum_ltc/gui/kivy/theming/light-0.png
electrum_ltc/gui/kivy/theming/light.atlas

# tests/tox
.tox/
.cache/
.coverage
.pytest_cache
