[submodule "contrib/deterministic-build/electrum-locale"]
	path = contrib/deterministic-build/electrum-locale
	url = https://github.com/syscoin/electrum-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
[submodule "electrum/www"]
	path = electrum/www
	url = https://github.com/spesmilo/electrum-http.git
