# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Goldcoin Client
Exec=electrum %u
GenericName[en_US]=Goldcoin Wallet
GenericName=Goldcoin Wallet
Icon=electrum
Name[en_US]=Electrum Goldcoin Wallet
Name=Electrum Goldcoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/goldcoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum --testnet %u
Name=Testnet mode
