# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Litecoin Client
Exec=electrum-ltc %u
GenericName[en_US]=Litecoin Wallet
GenericName=Litecoin Wallet
Icon=electrum-ltc
Name[en_US]=Electrum Litecoin Wallet
Name=Electrum Litecoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/litecoin;

