# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ltc.desktop

[Desktop Entry]
Comment=Lightweight Litecoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-ltc %u"
GenericName[en_US]=Litecoin Wallet
GenericName=Litecoin Wallet
Icon=electrum-ltc
Name[en_US]=Electrum Litecoin Wallet
Name=Electrum Litecoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/litecoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-ltc --testnet %u"
Name=Testnet mode
