# If you want Electrum-GRS to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-grs.desktop
# Note: This assumes $HOME/.local/bin is in your $PATH

[Desktop Entry]
Comment=Lightweight Groestlcoin Client
Exec=electrum-grs %u
GenericName[en_US]=Electrum-GRS
GenericName=Electrum-GRS
Icon=electrum-grs
Name[en_US]=Electrum-GRS Groestlcoin Wallet
Name=Electrum-GRS Groestlcoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum-grs
Terminal=false
Type=Application
MimeType=x-scheme-handler/groestlcoin;x-scheme-handler/lightning;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electrum-grs --testnet %u
Name=Testnet mode
