[Desktop Entry]
Comment=Lightweight Feathercoin Client
Exec=sh -c 'PATH="$HOME/.local/bin:$PATH" electrum %u'
GenericName[en_US]=Feathercoin Wallet
GenericName=Feathercoin Wallet
Icon=electrum
Name[en_US]=Electrum Feathercoin Wallet
Name=Electrum Feathercoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/feathercoin;
