# If you want Electrum-GRS to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-grs.desktop

[Desktop Entry]
Comment=Lightweight Groestlcoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-grs %u"
GenericName[en_US]=Electrum-GRS
GenericName=Electrum-GRS
Icon=electrum-grs
Name[en_US]=Electrum-GRS Groestlcoin Wallet
Name=Electrum-GRS Groestlcoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/groestlcoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-grs --testnet %u"
Name=Testnet mode
