# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Feathercoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-ftc %u"
GenericName[en_US]=Feathercoin Wallet
GenericName=Feathercoin Wallet
Icon=electrum
Name[en_US]=Electrum Feathercoin Wallet
Name=Electrum Feathercoin Wallet
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=electrum
Terminal=false
Type=Application
MimeType=x-scheme-handler/feathercoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-ftc --testnet %u"
Name=Testnet mode
