# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Groestlcoin Client
Exec=electrum %u
GenericName[en_US]=Electrum-GRS
GenericName=Electrum-GRS
Icon=/usr/share/app-install/icons/electrum-grs.png
Name[en_US]=Electrum Groestlcoin Wallet
Name=Electrum Groestlcoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/groestlcoin;

