# Configuration file for the electrum client
# Settings defined here are shared across wallets
#
# copy this file to /etc/electrum.conf if you want read-only settings
# copy it into your ~/.electrum/ directory if you want settings that can be rewritten by the client
[client]
winpos-qt = [799, 226, 877, 435]
server = electrum.novit.ro:50001:t
