# If you want Electron Cash to appear in a linux app launcher ("start menu"),
# install this file by doing:
# sudo desktop-file-install electron-cash.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Cash Client
Exec=electron-cash %u
GenericName=Bitcoin Cash Wallet
Icon=electron-cash
Name=Electron Cash
Categories=Finance;Network;
StartupNotify=true
StartupWMClass=Electron Cash
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoincash;
Actions=Testnet;

[Desktop Action Testnet]
Exec=electron-cash --testnet %u
Name=Testnet mode
