include 
include client/README client/LICENCE
include server/README server/LICENCE
include server/electrum.php
recursive-include client *.py
recursive-include server *.py
recursive-include server/patches *