include README LICENCE RELEASE-NOTES AUTHORS
include electrum.conf.sample
include electrum.desktop
include *.py
include electrum
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include ecdsa *.py
recursive-include aes *.py
include app.fil
include icons.qrc
recursive-include icons *
recursive-include scripts *
recursive-include data *
recursive-include locale *.mo
recursive-include docs *
