aiohttp==3.7.3
aiohttp-socks==0.5.5
aiorpcX==0.18.5
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
dnspython==2.1.0
ecdsa==0.16.1
idna==3.1
jsonrpclib-pelix==0.4.2
multidict==5.1.0
protobuf==3.17.1
pyaes==1.6.1
pycryptodomex==3.10.1
python-socks==1.2.0
QDarkStyle==2.6.8
qrcode==7.3
six==1.15.0
typing-extensions==3.10.0.0
yarl==1.6.3
