pip
setuptools
wheel

# needed by pyinstaller:
macholib>=1.8
altgraph
pyinstaller-hooks-contrib>=2020.6

# Note: hidapi requires Cython at build-time (not needed at runtime).
# For reproducible builds, the version of Cython must be pinned down.
# The pinned Cython must be installed before hidapi is built;
# otherwise when installing hidapi, pip just downloads the latest Cython.
# see https://github.com/spesmilo/electrum/issues/5859
Cython>=0.27
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
