# This file contains build-time dependencies needed to be able to build our pure python dependencies.
# For reproducibility, some build-time deps, most notably "wheel", need to be pinned. (see #7640)
# By default, when doing e.g. "pip install", pip downloads the latest version of wheel (and setuptools, etc),
# regardless whether a sufficiently recent version of wheel is already installed locally...
# The only way I have found to avoid this, is to use the "--no-build-isolation" flag,
# in which case it becomes our responsibility to install *all* build time deps...

pip
setuptools
wheel

# importlib_metadata also needs:
# https://github.com/python/importlib_metadata/blob/1e2381fe101fd70742a0171e51c1be82aedf519b/pyproject.toml#L2
setuptools_scm[toml]>=3.4.1
