# Prefer old hidapi as newer versions have issues on macOS
# (see #7738 and https://github.com/trezor/cython-hidapi/issues/142 ).
# Note: newer hidapi should also work.
hidapi<0.11

trezor[hidapi]>=0.13.0,<0.14
safet>=0.1.5
keepkey>=6.3.1
btchip-python>=0.1.32
ckcc-protocol>=0.7.7
bitbox02>=6.0.0
cbor>=1.0.0,<2.0.0
pyserial>=3.5.0,<4.0.0

# prefer older protobuf (see #7922)
# (pulled in via e.g. keepkey and bitbox02)
protobuf>=3.12,<4
