pip
setuptools
wheel
cython

# needed by buildozer:
pexpect
sh

# needed by python-for-android:
appdirs
# colorama upper bound to avoid needing hatchling
colorama>=0.3.3,<0.4.6
jinja2
sh>=1.10
pep517
toml

# needed for the Qt/QML Android GUI:
# TODO double-check this
typing-extensions
