hidapi

# device plugin: trezor
trezor[hidapi]>=0.13.0,<0.14

# device plugin: safe_t
safet>=0.1.5

# device plugin: keepkey
keepkey>=6.3.1

# device plugin: ledger
# note: btchip-python only needed for "legacy" protocol and HW.1 support
# note: ledger-bitcoin==0.2.2 added new deps we don't want to bundle. otherwise it should be ok to use.
#       see https://github.com/LedgerHQ/app-bitcoin-new/issues/192
btchip-python>=0.1.32
ledger-bitcoin>=0.2.0,<0.2.2
hidapi

# device plugin: coldcard
ckcc-protocol>=0.7.7

# device plugin: bitbox02
bitbox02>=6.2.0

# device plugin: jade
cbor>=1.0.0,<2.0.0
pyserial>=3.5.0,<4.0.0

# prefer older protobuf (see #7922)
# (pulled in via e.g. keepkey and bitbox02)
protobuf>=3.20,<4

# prefer older colorama to avoid needing hatchling
# (pulled in via trezor -> click -> colorama)
# (pulled in via safet -> click -> colorama)
colorama<0.4.6
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
