<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="org.electroncash.electroncash3"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"/>
        <activity
            android:name=".NetworkActivity"
            android:label="@string/network"/>
        <activity
            android:name=".ECConsoleActivity"
            android:label="@string/console"
            android:launchMode="singleInstance"/>
        
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="bitcoincash"/>
            </intent-filter>
        </activity>

        <service
            android:name=".CaptionService"/>

        <!-- On some devices it forces landscape by default. -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="unspecified"
            tools:replace="screenOrientation" />

        <activity
            android:name=".CrashhubDialog"
            android:process=":acra"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.electroncash.wallet.wallet_exports"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wallet_export_paths"/>
        </provider>

    </application>

</manifest>
