[server]
host = localhost
port = 50000
password = secret
banner = Welcome to Electrum!

[database]
type = sqlite3
database = electrum.sqlite

# type = MySQLdb
# database = electrum
# username = electrum
# password = secret

# type = psycopg2
# database = electrum
