#main_window
{
  background: qlineargradient(x1: 0, y1: 0, x2:0,y2:1, stop: 0 white , stop: 1 #E8E8E8);
}

MiniWindow QPushButton {
  color: #777;
  border: 1px solid #CCC;
  border-radius: 0px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 white, stop: 1 #E6E6E6);
  min-height: 25px;
  min-width: 30px;
}


#send_button{
  color: #E5F2FF;
  border: 1px solid #3786E6;
  border-radius: 4px;
  background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
  stop: 0 #72B2F8, stop: 1 #3484E6);
  min-width: 80px;
  min-height: 23px;
  padding: 2px;
}

#address_input[readOnly=true], #amount_input[readOnly=true]
{
    color: #ABABAB;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #AAA9A9;
    width: 225px;
    margin-top: 4px;
}
#address_input[readOnly=false], #amount_input[readOnly=false]
{
    padding: 2px;
    border: 1px solid #AAA9A9;
    font: normal;
    color: #424242;
    border-radius: 4px;
    font-size: 95%;
    width: 225px;
    margin-top: 4px;
}

#valid_address::indicator
{
    width: 24px;
    height: 24px;
    margin-top: 2px;
}
#valid_address::indicator:checked
{
    image: url(icons/confirmed.png);
}
#valid_address::indicator:unchecked
{
    image: url(icons/unconfirmed.png);
}

#balance_label
{
    color: #333;
}
